.CircleBadge .circle {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 20px 0 0;
}

.CircleBadge .circle.DEPARTMENT {
  background-color: #ffe5c1;
}

.CircleBadge .circle.DEPARTMENT svg {
  color: #ab8249;
}

.CircleBadge .circle.PERSON {
  background-color: #e6faec;
}

.CircleBadge .circle.PERSON svg {
  color: #007079;
}

.CircleBadge .circle.PROJECT {
  background-color: #ffd3d3;
}

.CircleBadge .circle.PROJECT svg {
  color: #da6a6a;
}

.CircleBadge .circle.INTEREST {
  background-color: #eeeeee;
}

.CircleBadge .circle.INTEREST svg {
  color: #9f9f9f;
}

.CircleBadge .circle.TEAM {
  background-color: #d6ffd4;
}

.CircleBadge .circle.TEAM svg {
  color: #8dc78b;
}
